* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
}

html,
body {
	overscroll-behavior: none;
}

/* camera */

#video-container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#buttons {
	z-index: 1;

	width: 100%;
	display: flex;
	justify-content: center;
	gap: 5vmin;

	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}

button {
	width: 14vmin;
	height: 14vmin;

	padding: 2vmin;

	border: none;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 25%);

	display: flex;
	justify-content: center;
	align-items: center;
}

button * {
	stroke: #fff;
	width: 80%;
	height: 80%;
}

#overlay-container {
	z-index: 1;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100vmin;
	height: 100vmin;
}

#overlay {
	position: absolute;
	visibility: hidden;

	/* https://stackoverflow.com/a/61913549 */
	--s: 10vmin;
	padding: 1px;
	border: 1vmin solid #fff;
	border-radius: 5vmin;
	mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
			calc(100% - var(--s)) calc(100% - var(--s)),
		linear-gradient(#000 0 0) content-box;
}
